.socialsItem {
  list-style-type: none;
}

.image {
  height: 75px;
  width: 75px;
  opacity: 0;
}

.loadedImage {
  opacity: 1;
}

@media only screen and (max-width: 1170px) {
  .image {
    height: 48px;
    width: 48px;
  }
}
