.socialsItem {
  position: relative;
  list-style-type: none;
  min-height: 75px;
  min-width: 75px;
}

@media only screen and (max-width: 1170px) {
  .socialsItem {
    min-height: 48px;
    min-width: 48px;
  }
}
