.linkButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  align-items: center;
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  /* font-family: var(--font-josefin-sans); */
  font-size: 1.1rem;
  min-height: 52px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 3px; /* This is weird but it fixes this aesthetic */
  border: none;
  border-radius: 26px;
  cursor: pointer;
  text-align: center;
}

.linkButton:hover {
  background-color: rgb(var(--hover-rgb));
}

.gradient {
  background: linear-gradient(45deg, rgba(0, 117, 124, 1), rgba(0, 79, 123, 1));
}

@media only screen and (max-width: 1170px) {
  .linkButton {
    font-size: 1.1rem;
    min-height: 48px;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
