.homeCard {
  min-height: 100vh;
  min-width: 33%;
  max-width: 40%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(var(--surface-rgb));
  padding: var(--page-padding);
  background: linear-gradient(rgba(0, 117, 124, 1), rgba(0, 79, 123, 1));
  transition: 0.5s;
  z-index: 9;
}

.title {
  padding-bottom: 1rem;
}

.name {
  font-size: 3rem;
  font-family: var(--font-jomolhari), "Hoeffler Text", serif;
  font-weight: 400;
}

.email {
  font-size: 20px;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 24px;
  gap: 48px;
  font-size: 0.7rem;
}

.githubLink,
.link {
  text-decoration: underline;
  font-weight: bold;
}

.githubLink:hover,
.link:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 1360px) {
  .homeCard {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media only screen and (max-width: 1170px) {
  .homeCard {
    min-width: 100%;
    max-width: 100%;
    padding: 32px 32px;
    min-height: auto;
    height: auto;
    border-radius: 50px;
    z-index: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(var(--foreground-rgb));
  }

  .link {
    min-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }

  .title > h1 {
    font-size: 2rem;
  }
}
