.homeCard {
  min-height: 100vh;
  min-width: 33%;
  max-width: 40%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(var(--surface-rgb));
  padding: var(--page-padding);
  background: linear-gradient(rgba(0, 117, 124, 1), rgba(0, 79, 123, 1));
  transition: 0.5s;
  z-index: 9;
}

.bottomSheet {
  display: none;
}

@media only screen and (max-width: 1360px) {
  .homeCard {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media only screen and (max-width: 1170px) {
  .homeCard {
    display: none;
  }

  .bottomSheet {
    display: flex;
  }

  .bottomSheetContainer {
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgb(var(--surface-rgb));
    /* padding-top: 96px; */
    padding-right: 48px;
    padding-left: 48px;
    background: linear-gradient(rgba(0, 117, 124, 1), rgba(0, 79, 123, 1));
    box-shadow: black 0px 0px 20px 6px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    background-color: transparent;
    cursor: pointer;
    /* font-family: var(--font-josefin-sans); */
    font-size: 1rem;
    color: rgb(var(--foreground-rgb));
  }

  .fullHeight {
    height: 100vh;
  }
}
