main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
ul {
  font-family: var(--font-josefin-sans);
  font-weight: 300;
  font-size: 1.1rem;
}

ul {
  padding-left: 32px;
}

li {
  padding-bottom: 12px;
}

h3 {
  padding-left: 12px;
}
