main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
ul,
a {
  font-family: var(--font-josefin-sans);
  font-weight: 300;
  font-size: 1.2rem;
}

a {
  text-decoration: underline;
}

a:hover {
  opacity: 0.5;
}

ul {
  padding-left: 32px;
}

li {
  padding-bottom: 12px;
}

h3 {
  padding-left: 12px;
}

img {
  transition: 0.5s;
}
