.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  padding: var(--page-padding);
  padding-top: 216px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 900px;
}

.project > p > a,
.project > p,
.project > p > ul {
  font-family: var(--font-josefin-sans);
  font-weight: 300;
  font-size: 1.2rem;
}

.project > p > a {
  text-decoration: underline;
}

.project > p > a:hover {
  opacity: 0.5;
}

.project > p > ul {
  padding-left: 32px;
}

.project > p > ul > li {
  padding-bottom: 12px;
}

.project > h3 {
  padding-left: 12px;
}

.project > img {
  transition: 0.5s;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  border-radius: 100px;
  background: linear-gradient(45deg, rgba(0, 117, 124, 1), rgba(0, 79, 123, 1));
  padding: 48px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
}

.loadedImage {
  opacity: 1;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loader {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: rgb(var(--foreground-rgb));
}

@media only screen and (max-width: 1170px) {
  .project {
    padding: 24px;
    padding-top: 96px;
    width: 100%;
  }

  .image {
    width: 100%;
    height: auto;
    max-width: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
  }
}
