.title {
  padding-bottom: 1rem;
}

.email {
  font-family: var(--font-josefin-sans);
  font-size: 20px;
}

.bio {
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.mobileTitle {
  display: none;
}

@media only screen and (max-width: 1170px) {
  .mobileTitle {
    padding-top: 96px;
    display: inline-block;
  }

  .mobileTitle > h1 {
    font-size: 1.2rem;
  }

  .title > h1 {
    font-size: 2rem;
  }
}
