.project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 48px;
  min-height: 232px;
  width: 100%;
  border-radius: 65px;
  gap: 32px;
}

.project:hover {
  background-color: rgb(var(--hover-rgb));
}

@media only screen and (max-width: 1360px) {
  .project {
    padding: 0 3%;
  }
}

.imageContainer {
  position: relative;
  min-height: 174px;
  min-width: 174px;
  border-radius: 50%;
  padding: 29px;
  overflow: hidden;
}

.content {
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  padding: 3% 3% 3% 0;
}

.content > h3 {
  padding-bottom: 18px;
}

.content > p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1170px) {
  .project {
    flex-direction: column;
    padding: 24px;
    gap: 12px;
    border-radius: 50px;
  }

  .imageContainer {
    padding: 0;
  }
}
