.project {
  min-height: 232px;
  width: 100%;
  border-radius: 65px;
  display: flex;
  flex-direction: row;
  gap: 54px;
  justify-content: flex-start;
  align-items: center;
  padding: 0 48px;
}

.project:hover {
  background-color: rgb(var(--hover-rgb));
}

@media only screen and (max-width: 1360px) {
  .project {
    padding: 0 3%;
  }
}

.image {
  border-radius: 50%;
  width: 174px;
  height: 174px;
  object-fit: cover;
  opacity: 0;
}

.loadedImage {
  opacity: 1;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 174px;
  padding: 29px 0;
}

.content {
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  padding: 3% 3% 3% 0;
}

.content > h3 {
  padding-bottom: 18px;
}

.content > p {
  font-size: 1.2rem;
}

.mobileProject {
  display: none;
}

@media only screen and (max-width: 1170px) {
  .mobileProject {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid rgba(var(--foreground-rgb), 0.3);
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mobileHeader {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }

  .mobileProject:hover {
    background-color: rgb(var(--hover-rgb));
  }

  .image {
    width: 96px;
    height: 96px;
  }

  .imageContainer {
    width: 96px;
  }

  .project {
    display: none;
  }
}
