.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 216px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

.logo {
  opacity: 0;
}
