:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 244, 244, 244;
  --background-rgb: 15, 15, 15;
  --surface-rgb: 56, 73, 75;
  --hover-rgb: 32, 32, 32;
  --padding-horizontal: 5.5rem;
  --padding-vertical: 4.3rem;
  --page-padding: var(--padding-vertical) var(--padding-horizontal);
  --nav-bar-height: 216px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 244, 244, 244;
    --background-rgb: 15, 15, 15;
    --surface-rgb: 56, 73, 75;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-underline-offset: 0.2em;
  font-family: var(--font-josefin-sans), "Gill Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-weight: 200;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
p > a {
  line-height: 1.4em;
}

button {
  border: none;
}

img {
  transition: 0.5s;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* For Safari iOS */
@media only screen and (max-width: 1170px) {
  _::-webkit-full-page-media,
  _:future,
  :root * {
    font-family: "Gill Sans", "Helvetica Neue";
    font-weight: 100;
    --nav-bar-height: 96px;
  }
}
