.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
}

@media only screen and (max-width: 1170px) {
  .content {
    padding-top: var(--nav-bar-height);
    flex-direction: column;
    padding-right: 24px;
    padding-left: 24px;
  }
}
