.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
}

@media only screen and (max-width: 1170px) {
  .content {
    flex-direction: column;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
  }
}
